/static/js/config.json
/venv/
/.idea/
/static/img/
/apps/async_generator/
/apps/attr/
/apps/attrs-21.2.0.dist-info/
/apps/beautifulsoup4-4.10.0.dist-info/
/apps/bs4/
/apps/bs4-0.0.1.dist-info/
/apps/bson/
/apps/certifi/
/apps/cffi/
/apps/cryptography/
/apps/data/
/apps/gridfs/
/apps/h11/
/apps/idna/
/apps/idna-3.3.dist-info/
/apps/mongoengine/
/apps/mongoengine-0.23.1.dist-info/
/apps/OpenSSL/
/apps/outcome/
/apps/outcome-1.1.0.dist-info/
/apps/pycparser/
/apps/pycparser-2.20.dist-info/
/apps/pymongo/
/apps/pymongo-3.12.1.dist-info/
/apps/pyOpenSSL-21.0.0.dist-info/
/apps/selenium/
/apps/selenium-4.0.0.dist-info/
/apps/six-1.16.0.dist-info/
/apps/sniffio/
/apps/sniffio-1.2.0.dist-info/
/apps/sortedcontainers/
/apps/sortedcontainers-2.4.0.dist-info/
/apps/soupsieve/
/apps/soupsieve-2.3.dist-info/
/apps/trio/
/apps/trio-0.19.0.dist-info/
/apps/trio_websocket/
/apps/trio_websocket-0.9.2.dist-info/
/apps/urllib3/
/apps/urllib3-1.26.7.dist-info/
/apps/uuid-1.30.dist-info/
/apps/wsproto/
/apps/wsproto-1.0.0.dist-info/
/apps/_cffi_backend.cp39-win_amd64.pyd
/apps/zia17848
/apps/uuid.py
/apps/six.py
/apps/certifi-2021.10.8.dist-info/
/apps/async_generator-1.10.dist-info/
/apps/cffi-1.15.0.dist-info/
/apps/cryptography-35.0.0.dist-info/
/apps/h11-0.12.0.dist-info/
