body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
    font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0 none;
}

dl, ul, ol, menu, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

input, select, textarea, button {
    vertical-align: middle;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

body {
    background: #fff;
    color: #333;
}

body, th, td, input, select, textarea, button {
    font-size: 14px;
    line-height: 1.5;
}

a {
    color: #333;
    text-decoration: none;
}

a:active {
    background-color: transparent;
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: 400;
}

#dkIndex {
    overflow: hidden;
    position: absolute;
    left: -9999px;
    width: 0;
    height: 1px;
    margin: 0;
    padding: 0;
}

.ir_wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.ir_caption {
    overflow: hidden;
    width: 1px;
    font-size: 1px;
    line-height: 0;
    text-indent: -9999px;
}

.f_r {
    float: right;
}

.cl_b {
    clear: both;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.tbl {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear_g {
    display: block;
    overflow: visible;
    width: auto;
    clear: both;
}

.clear_g:after {
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
    content: '';
}

.text_hide {
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.ico_memca {
    display: inline-block;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
}

.ico_memca_v1 {
    display: inline-block;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
}

.ico_sns {
    display: inline-block;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
}

.frame_g {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #2c2f35;
}

.frame_b {
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid #2c2f35;
}

.pc_d_n {
    display: none !important;
}

.memca_layer {
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    overflow: auto;
}

.memca_layer.black {
    background-color: rgba(0, 0, 0, 0.65);
}

.service_header {
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 10000;
    top: 0;
}

.service_header .wrap_inner {
    margin: 30px 30px 0;
}

.service_header .wrap_inner.inner_author, .service_header .wrap_inner.inner_request {
    text-align: center;
    margin: 30px 30px 0;
}

.service_header.beyond_content .wrap_inner {
    margin: 20px 30px 0;
}

.service_header.beyond_content {
    position: fixed;
    border-bottom: 1px solid #ddd;
    height: 60px;
    background: rgba(255, 255, 255, 0.9);
}

.wrap_inner .list_process {
    overflow: hidden;
    width: 320px;
    display: inline-block;
    margin: 5px auto 0;
}

.wrap_inner .list_process li {
    position: relative;
    float: left;
    width: 70px;
    margin-right: 29px;
    text-align: center;
    font-size: 12px;
    line-height: 29px;
}

.wrap_inner .list_process li:after {
    position: absolute;
    top: 13px;
    left: 50px;
    content: '';
    width: 70px;
    height: 1px;
}

.wrap_inner .list_process .lst {
    margin: 0;
}

.wrap_inner.inner_author .list_process {
    display: inline-block;
    overflow: hidden;
    margin: 5px 0 0 -106px;
}

.list_process .txt_process {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0 auto;
}

.list_process .on .txt_process {
    width: 30px;
    height: 30px;
    border: 0 none;
    line-height: 30px;
    background-color: #333;
}

.process_type01 li {
    color: #b2b2b2;
}

.process_type01 li:after {
    background-color: #8a8b8a;
}

.process_type01 .txt_process {
    border: 1px solid #b2b2b2;
}

.process_type02 li:after {
    background-color: #ddd;
}

.process_type02 .txt_process {
    border: 1px solid #c1c1c1;
    color: #959595;
}

.service_header .img_ico.img_ico_single {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.service_header .img_ico_wrap {
    float: left;
    height: 20px;
    margin-left: 15px;
    padding: 5px 0 5px 5px;
}

.service_header .img_ico.img_ico_with_text {
    width: 20px;
    height: 20px;
}

.service_header .wrap_action_article {
    margin-top: -5px;
    margin-right: -8px;
}

.service_header .wrap_action_article .text_with_img_ico {
    padding-top: 1px;
    margin-left: 4px;
    min-width: 6px;
    min-height: 1px;
}

.service_header .wrap_action_article .text_with_img_ico.text_share_count {
    min-width: 0;
    min-height: 0;
}

.service_header .more_action_wrap .img_ico.more_action {
    margin-left: 30px;
}

.service_header.article.block_hidden {
    overflow: visible;
}

.service_header .wrap_action_article .default_action_wrap {
    position: absolute;
    font-size: 14px;
    right: 63px;
    padding-top: 0;
    font-family: 'SF Pro Light', sans-serif !important;
}

.service_header .wrap_action_article.show_more_action .default_action_wrap {
    display: none \0/ IE9;
}

.service_header .wrap_action_article .more_action_wrap.more_action_not_publish {
    right: 20px;
}

.service_header .wrap_action_article .more_action_wrap {
    position: absolute;
    right: 67px;
    display: none \0/ IE9;
}

.service_header.article .wrap_action_article .img_ico.ico_likeit_users, .service_header.article .wrap_action_article .img_ico.ico_likeit_like {
    background-position: -60px -90px;
    margin-top: 1px;
    width: 21px;
}

.service_header.article.cover_type_text .wrap_action_article .ico_likeit_users, .service_header.article.beyond_content .wrap_action_article .ico_likeit_users, .service_header.article.cover_type_text .wrap_action_article .ico_likeit_like, .service_header.article.beyond_content .wrap_action_article .ico_likeit_like {
    background-position: 0 -90px;
}

.service_header.article .wrap_action_article .ico_likeit_unlike.img_ico_with_text {
    background-position: -90px -89px;
    width: 21px;
}

.service_header.article.cover_type_text .wrap_action_article .ico_likeit_unlike.img_ico_with_text, .service_header.article.beyond_content .wrap_action_article .ico_likeit_unlike.img_ico_with_text {
    background-position: -30px -89px;
    width: 21px;
}

.service_header.article .wrap_action_article .ico_comment {
    background-position: -30px -120px;
}

.service_header.article.cover_type_text .wrap_action_article .ico_comment, .service_header.article.beyond_content .wrap_action_article .ico_comment {
    background-position: 0 -120px;
}

.service_header.article .wrap_action_article .ico_share {
    background-position: -90px -121px;
    margin-right: 0;
}

.service_header.article.cover_type_text .wrap_action_article .ico_share, .service_header.article.beyond_content .wrap_action_article .ico_share {
    background-position: -59.5px -121px;
    margin-right: 0;
}

.service_header.article .wrap_action_article .ico_modify {
    background-position: -30px -150px;
}

.service_header.article.cover_type_text .wrap_action_article .ico_modify, .service_header.article.beyond_content .wrap_action_article .ico_modify {
    background-position: 0 -150px;
}

.service_header.article .wrap_action_article .ico_delete {
    background-position: -90px -150px;
}

.service_header.article.cover_type_text .wrap_action_article .ico_delete, .service_header.article.beyond_content .wrap_action_article .ico_delete {
    background-position: -60px -150px;
}

.service_header.article .wrap_action_article .ico_private {
    background-position: -150px -150px;
}

.service_header.article.cover_type_text .wrap_action_article .ico_private, .service_header.article.beyond_content .wrap_action_article .ico_private {
    background-position: -120px -150px;
}

.service_header.article .wrap_action_article .ico_stats {
    background-position: -150px -120px;
}

.service_header.article.cover_type_text .wrap_action_article .ico_stats, .service_header.article.beyond_content .wrap_action_article .ico_stats {
    background-position: -120px -120px;
}

.service_header.article .wrap_action_article .ico_publish, .service_header.article.cover_type_text .wrap_action_article .ico_publish {
    font-size: 12px;
    color: #666;
    padding-bottom: 2px;
}

.service_header.article .wrap_action_article .ico_publish {
    width: 56px;
    height: 30px;
    margin-left: 21px;
    margin-right: 10px;
    background-position: -180px -60px;
}

.service_header.article .wrap_action_article .ico_report {
    background-position: -150px -90px;
    margin-top: 5px;
}

.service_header.article .wrap_action_article .btn_cancel_reservation {
    border: 1px solid #bbb;
    color: #fff;
    font-size: 12px;
    margin-left: 20px;
    padding: 4px 12px 5px;
}

.service_header.article.cover_type_text .wrap_action_article .ico_report, .service_header.article.beyond_content .wrap_action_article .ico_report {
    background-position: -120px -90px;
}

.service_header .btn_menu, .service_header.article.beyond_content .btn_menu, .service_header.article.cover_type_text .btn_menu {
    width: 27px;
    height: 20px;
    background-position: 0 0;
    margin-right: 11px;
}

.service_header.new .btn_menu {
    height: 22px !important;
    margin-top: -2px !important;
}

.service_header h1 .logo_service, .service_header.article.cover_type_text h1 .logo_service, .service_header.article.beyond_content h1 .logo_service {
    display: block;
    background: url(//t1.daumcdn.net/brunch9/static/images/pc/logo_memca_v1.png) no-repeat;
    width: 72px;
    height: 22px;
    margin-top: -1px;
}

.short_logo .service_header h1 .logo_service, .short_logo .service_header.article.cover_type_text h1 .logo_service, .short_logo .service_header.article.beyond_content h1 .logo_service {
    width: 50px;
    height: 50px;
    margin-top: -5px;
}

.service_header .logo_service.white_logo, .service_header.article h1 .logo_service, .service_header.white_header .logo_service, .service_header.home_has_main .logo_service, .service_header.project_list .logo_service, .service_header.signin_v2 .logo_service {
    background-position: -100px 0;
}

.short_logo .service_header .logo_service, .short_logo .service_header.article h1 .logo_service, .short_logo .service_header.signin h1 .logo_service {
    background-position: 0 -25px;
}

.service_header.article .text_noti_restrict {
    color: #f44;
    letter-spacing: -1px;
    font-size: 12px;
    border-bottom: 1px solid #f44;
    cursor: pointer;
    margin: 2px 0 0 8px;
}

.service_header .wrap_btn_search.show {
    width: 204px;
    height: 34px;
    background: #fff;
    position: relative;
    top: -7px;
    right: -16px;
    border: 1px solid #ddd;
}

.service_header .wrap_btn_search.show input {
    display: inline-block;
    border: 0 none;
    margin-left: 40px;
    margin-top: 6px;
    font-size: 12px;
    width: 138px;
    outline: none;
    height: 20px;
    line-height: 18px;
}

.service_header .wrap_btn_search .btn_search {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -30px 0;
    margin-top: 0;
    margin-right: 0;
}

.service_header.white_header .wrap_btn_search .btn_search {
    background-position: -30px -30px;
}

.service_header .wrap_btn_search.show .btn_search {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -57px 0;
    margin: -19px 172px 0 0;
}

.service_header .author_and_date {
    display: inline-block;
    float: left;
}

.service_header .author_and_date .ico_by, .service_header.article.cover_type_text .author_and_date .ico_by, .service_header.article.beyond_content .author_and_date .ico_by {
    display: inline-block;
    width: 15px;
    height: 14px;
    background-position: -150px 0;
    margin: 4px 1px 0 0;
}

.service_header.article .author_and_date .ico_by {
    background-position: -150px -30px;
}

.service_header .author_and_date .ico_dot_middle {
    display: inline-block;
    width: 2px;
    height: 2px;
    background-position: -90px -30px;
    margin: 8px 4px 0;
}

.service_header.article .wrap_action_article *, .service_header.article.cover_type_text .wrap_action_article * {
    color: #333;
}

.service_header .wrap_action_article .ico_action {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 22px;
    margin-top: 5px;
    background-position: -180px 0;
}

.service_header .wrap_action_article.show_more_action .ico_action {
    margin-top: 6px;
    margin-left: 25px;
    background-position: -180px -30px \0/ IE9;
}

.service_header.article.cover_type_text .wrap_action_article.show_more_action .ico_action, .service_header.article.beyond_content .wrap_action_article.show_more_action .ico_action {
    margin-top: 6px;
    background-position: -120px -30px \0/ IE9;
}

.service_header .wrapButtonSocialShare {
    position: relative;
    display: inline;
}

.service_header .wrapButtonSocialShare.show .wrap_share_gnb {
    position: absolute;
    display: block;
    width: 240px;
    padding-top: 18px;
    top: 45px;
    right: -34px;
    text-align: center;
    background-color: #FFF;
}

.service_header .wrapButtonSocialShare.show .wrap_share_gnb:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    content: '';
}

.service_header.article .tit_sharegnb {
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: #959595 !important;
    letter-spacing: -.025em;
}

.service_header.article.beyond_content .wrap_action_article .tit_sharegnb {
    font-size: 13px;
}

.service_header .wrap_share_gnb .ico_share_common {
    position: relative;
    z-index: 10;
    margin: 12px 0 18px;
}

.ico_share_common {
    background: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_share_rtn_20180103.png) no-repeat;
}

.wrap_share_common button {
    width: 35px;
    height: 35px;
}

.wrap_share_common .btn_share_facebook {
    background-position: -2px -2px;
}

.wrap_share_common .btn_share_facebook:hover {
    background-position: -2px -37px;
}

.wrap_share_common .btn_share_kakaotalk {
    background-position: -37px -2px;
}

.wrap_share_common .btn_share_kakaotalk:hover {
    background-position: -37px -37px;
}

.wrap_share_common .btn_share_kakaostory {
    background-position: -72px -2px;
}

.wrap_share_common .btn_share_kakaostory:hover {
    background-position: -72px -37px;
}

.wrap_share_common .btn_share_twitter {
    background-position: -107px -2px;
}

.wrap_share_common .btn_share_twitter:hover {
    background-position: -107px -37px;
}

.wrap_share_gnb .social_connect {
    text-align: center;
    position: relative;
}

.service_header .wrap_share_gnb .social_connect .link_connect {
    display: block;
    height: 45px;
    font-size: 12px;
    line-height: 43px;
    letter-spacing: -.025em;
    text-align: left;
}

.service_header .wrap_share_gnb .social_connect .link_kt_bg {
    background-color: #fae100;
}

.service_header .wrap_share_gnb .social_connect .link_kt {
    width: 238px;
    height: 43px;
    color: #463429;
    z-index: 10;
    position: relative;
    text-indent: 27px;
    letter-spacing: 0;
    padding: 1px;
}

.service_header .wrap_share_gnb .social_connect .link_fb_bg {
    background-color: #496eba;
}

.service_header .wrap_share_gnb .social_connect .link_fb {
    width: 238px;
    height: 43px;
    color: #fff;
    z-index: 10;
    position: relative;
    text-indent: 29px;
    letter-spacing: -.025em;
    padding: 1px;
}

.wrap_share_gnb .social_connect .ico_kt {
    display: inline-block;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
    width: 17px;
    height: 16px;
    background-position: -164px -5px;
    margin: 14px 11px 0 -2px;
}

.wrap_share_gnb .social_connect .ico_fb {
    display: inline-block;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    vertical-align: top;
    width: 9px;
    height: 16px;
    background-position: -149px -5px;
    margin: 14px 14px 0 0;
}

.service_header .wrap_custom button {
    color: #666;
    font-size: 17px;
    letter-spacing: -1px;
    outline: none;
    white-space: nowrap;
}

.service_header .wrap_custom button.active, .service_header .wrap_custom button.on {
    color: #00c3bd;
    border-bottom: 2px solid #00c3bd;
    margin-top: 2px;
}

.service_header.home {
    height: 60px;
}

.service_header.beyond_content .wrap_custom_home {
    width: 375px;
    text-align: center;
    margin-left: -180px;
    top: 15px;
    color: #333;
    display: inherit;
}

.service_header .wrap_custom_home .profile_thumb {
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: #fff;
}

.service_header .wrap_custom_home .user_name {
    color: #333;
    vertical-align: top;
    display: inline-block;
    padding-top: 5px;
    white-space: nowrap;
}

.service_header .wrap_custom_ready {
    width: 250px;
    margin-left: -125px;
    top: 27px;
}

.service_header .wrap_custom_history, .service_header .wrap_custom_setting {
    width: 80px;
    margin-left: -40px;
    color: #333;
    top: 27px;
}

.service_header .wrap_custom_stats {
    width: 160px;
    margin-left: -80px;
    margin-top: -4px;
}

.service_header .wrap_custom_stats .btn_stats_day {
    margin-right: 16px;
}

.service_header .wrap_custom_feed {
    width: 400px;
    margin-left: -200px;
    color: #333;
}

.service_header .wrap_custom_feed .btn_feed_article, .service_header .wrap_custom_feed .btn_feed_magazine {
    margin-right: 29px;
}

.service_header .wrap_custom_now {
    width: 110px;
    margin-left: -55px;
    color: #333;
}

.service_header .wrap_custom_likeit {
    width: 150px;
    margin-left: -55px;
    color: #333;
}

.service_header .wrap_custom_likeit button {
    margin-left: 20px;
}

.service_header .wrap_custom_statsArticle {
    width: 940px;
    margin-left: -470px;
}

.service_header .wrap_custom_statsArticle .text_stats_article {
    color: #00c3bd;
    padding-right: 6px;
}

.service_header .wrap_custom_statsArticle .text_stats_article_link:hover {
    text-decoration: underline;
}

.service_header .wrap_custom_statsArticle .text_stats_article_title {
    color: #333;
    font-weight: 400;
}

.service_header .wrap_btn_statsArticle .link_close {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -90px 0;
}

.service_header .wrap_btn_write {
    display: inline-block;
    position: relative;
    top: -4px;
    padding-top: 3px;
}

.service_header .wrap_btn_write_right {
    margin-top: -4px;
}

.service_header.beyond_content .wrap_btn_write_right {
    padding-top: 0;
    margin-top: -1px;
}

.service_header .wrap_btn_write *, .cover_text .service_header .wrap_btn_write *, .cover_half .service_header.beyond_content .wrap_btn_write *, .cover_full .service_header.beyond_content .wrap_btn_write *, .cover_color .service_header.beyond_content .wrap_btn_write * {
    color: #333;
    font-size: 12px;
}

.service_header .wrap_btn_write .be_header_button_preview {
    margin-right: 12px;
    margin-left: 6px;
}

.service_header .wrap_btn_write .btn_write {
    width: 66px;
    height: 30px;
    line-height: 25px;
    background-color: #fff;
}

.service_header .wrap_btn_write .be_header_button_save, .cover_color .service_header .wrap_btn_write .be_header_button_save, .cover_half .service_header .wrap_btn_write .be_header_button_save, .cover_full .service_header .wrap_btn_write .be_header_button_save {
    border: 1px solid #bbb;
    margin-right: 5px;
    color: #666;
}

.service_header .wrap_btn_write .wrap_btn_article_save .btn_article_save_draft {
    margin-top: -1px;
}

.service_header .wrap_btn_write .wrap_btn_article_save.saved .be_header_button_save.article_saved_move {
    display: inline-block;
    width: 114px;
    color: #666;
    border-width: 1px;
}

.service_header .wrap_btn_write .wrap_btn_article_save .noti {
    margin-right: 7px;
    color: #666;
    vertical-align: middle;
    display: inline-block;
    margin-top: -2px;
}

.service_header .wrap_btn_write .wrap_btn_article_save.previous .noti {
    color: #fff;
    margin-right: 16px;
    text-decoration: underline;
}

.service_header .wrap_btn_write .wrap_btn_article_save.saved .be_header_button_save.article_save_draft, .service_header .wrap_btn_write .wrap_btn_article_save.saved .be_header_button_save.article_save_private {
    width: 114px;
}

.service_header .wrap_btn_write .be_header_button_publish, .cover_color .service_header .wrap_btn_write .be_header_button_publish, .cover_half .service_header .wrap_btn_write .be_header_button_publish, .cover_full .service_header .wrap_btn_write .be_header_button_publish {
    border: 1px solid #00c3bd;
    color: #00c3bd;
}

.service_header .wrap_btn_write .btn_request, .service_header.beyond_content .wrap_btn_write .btn_request {
    width: 76px;
    height: 30px;
    border: 1px solid #00c3bd;
    font-size: 12px;
    color: #00c3bd;
    background-color: #fff;
    margin-top: -1px;
}

.service_header .wrap_custom_subscription {
    width: 140px;
    margin-left: -70px;
    display: none;
}

.service_header .wrap_custom_bookprize {
    width: 170px;
    margin-left: -85px;
    display: none;
}

.service_header .wrap_custom_policy {
    width: 200px;
    margin-left: -70px;
    display: block;
    color: #333;
}

.service_header .wrap_custom_magazine {
    left: 0;
    width: 100%;
    z-index: -1;
}

.service_header .wrap_custom_magazine .service {
    color: #00b8b2;
}

.service_header .wrap_custom_magazine .magazine_title {
    display: none;
    color: #333;
}

#wrapSideMenu {
    background-color: #fff;
    border-right: 1px solid #ddd;
    width: 260px;
    margin-left: -261px;
    position: fixed;
    z-index: 10000;
    height: 100%;
    top: 0;
    text-align: center;
}

#wrapSideMenu h2 .logo_service {
    display: block;
    background: url(//t1.daumcdn.net/memca/static/img/help/pc/logo_service2.png) no-repeat;
    width: 94px;
    height: 22px;
}

#wrapSideMenu .img_side_menu {
    background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_view_sidebar.png);
}

#wrapSideMenu main {
    clear: both;
}

#wrapSideMenu .wrap_inner {
    text-align: center;
    padding: 20px 20px 30px;
}

#wrapSideMenu #btnCloseSideMenu {
    display: none;
    position: absolute;
    right: 20px;
    top: 18px;
}

#wrapSideMenu .ico_close {
    display: block;
    width: 19px;
    height: 19px;
    background-position: -40px 0;
}

#wrapSideMenu .wrap_side_service_menu {
    border-top: 1px solid #ddd;
    padding-top: 28px;
    height: 427px;
}

#wrapSideMenu .wrap_side_service_menu.logout {
    padding-left: 2px;
}

#wrapSideMenu .wrap_side_service_menu li {
    height: 13px;
    line-height: 13px;
    width: 240px;
    margin: 0 auto;
    padding: 13px 0;
}

#wrapSideMenu .wrap_side_service_menu.logout li {
    height: 13px;
    line-height: 13px;
    padding: 13px 0;
}

#wrapSideMenu .wrap_side_service_menu li a {
    height: 13px;
    line-height: 14px;
    display: block;
    position: relative;
}

#wrapSideMenu .wrap_side_service_menu li a:hover span, #wrapSideMenu .wrap_side_service_menu li.now_page a span {
    display: block;
    border-bottom: 1px solid #00c3bd;
    position: absolute;
    top: 6px;
}

#wrapSideMenu .wrap_side_service_menu li .ico_memca_new {
    background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/img_weekly.v2.png);
    background-position: -77px -80px;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 10;
}

#wrapSideMenu .wrap_side_service_menu li a:hover span.bar_left, #wrapSideMenu .wrap_side_service_menu li.now_page a span.bar_left {
    left: 50px;
}

#wrapSideMenu .wrap_side_service_menu li a:hover span.bar_right, #wrapSideMenu .wrap_side_service_menu li.now_page a span.bar_right {
    right: 50px;
}

#wrapSideMenu .wrap_side_service_menu li a.menu_word5 span {
    width: 29px;
}

#wrapSideMenu .wrap_side_service_menu li a.menu_word4 span {
    width: 35px;
}

#wrapSideMenu .wrap_side_service_menu li a.menu_word3 span {
    width: 44px;
}

#wrapSideMenu .wrap_side_service_menu li a.menu_word2 span {
    width: 50px;
}

#wrapSideMenu .wrap_side_service_menu li.hr {
    height: 15px;
    display: block;
    width: 140px;
    background: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_sidebar.png) no-repeat -52px -5px;
    margin: 30px auto 32px;
    padding: 0;
}

#wrapSideMenu .wrap_side_service_menu li a.login_social:hover {
    background: url(//t1.daumcdn.net/memca/static/img/help/pc/img_sidebar_hover_social2.png) center no-repeat;
}

#wrapSideMenu .wrap_side_service_menu li a.login_social.menu_facebook {
    color: #4c72b6;
    background-position: center 0;
}

#wrapSideMenu .wrap_side_service_menu li a.login_social.menu_twitter {
    color: #1dadea;
    background-position: center -13px;
}

#wrapSideMenu .wrap_side_service_menu li a.login_social.menu_kakao {
    color: #3b1d1e;
    background-position: center -26px;
}

#wrapSideMenu .link_service .img_side_menu {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
    margin: 3px 18px 13px 0;
}

#wrapSideMenu .link_service .ico_link_home {
    background-position: -80px 0;
}

#wrapSideMenu .link_service .ico_link_write {
    background-position: -160px 0;
}

#wrapSideMenu .link_service .ico_link_statistic {
    background-position: -40px -40px;
}

#wrapSideMenu .link_service .ico_link_alim {
    background-position: -80px -40px;
}

#wrapSideMenu .wrap_side_ico {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 18px;
    right: 20px;
    background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_sidebar.png);
    background-repeat: no-repeat;
}

#wrapSideMenu .ico_side_likeit {
    background-position: -4px -3px;
    right: 60px;
}

#wrapSideMenu .ico_side_history {
    background-position: -27px -3px;
}

#wrapSideMenu .ico_alim_new {
    width: 5px;
    height: 5px;
    font-size: 0;
    background-color: #00c3bd;
    display: none;
    position: absolute;
    top: 18px;
    right: 16px;
}

#wrapSideMenu .wrap_side_setting {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 40px 0 30px;
}

#wrapSideMenu .wrap_side_setting button {
    width: 80px;
    height: 32px;
    border: 1px solid #bbb;
    color: #959595;
    font-size: 13px;
    margin: 0 2px;
}

#wrapSideMenu .wrap_side_profile {
    overflow: hidden;
    position: relative;
    height: 239px;
    background-color: #f6f6f6;
}

#wrapSideMenu .wrap_side_profile.logout {
    height: 239px;
    background: #f8f8f8;
}

#wrapSideMenu .wrap_side_profile.logout .logo_service {
    background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/logo_service2_v1.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    background-position: -1px -26px;
    margin: 40px auto 9px;
}

#wrapSideMenu .wrap_side_profile.logout .slogan {
    font-family: Georgia, sans-serif;
    font-size: 13px;
    font-style: italic;
    line-height: 1.35;
    text-align: center;
    color: #666;
    margin-bottom: 5px;
}

#wrapSideMenu .wrap_side_profile.logout .slogan_writer {
    font-family: Georgia, sans-serif;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 0;
    text-align: center;
    color: #959595;
}

#wrapSideMenu .wrap_side_profile .wrap_profile_image {
    width: 60px;
    margin: 50px auto 0;
}

#wrapSideMenu .img_profile {
    width: 60px;
    height: 60px;
    background-color: #fff;
}

#wrapSideMenu .wrap_side_profile .wrap_profile_info {
    padding-top: 5px;
    margin-left: -2px;
}

#wrapSideMenu .wrap_profile_info .text_profile_name {
    font-size: 15px;
    color: #333;
    display: inline-block;
    width: 212px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

#wrapSideMenu .wrap_profile_info .text_profile_id {
    font-size: 12px;
    color: #959595;
    font-family: Georgia, sans-serif;
    font-style: italic;
    display: inline-block;
    width: 212px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

#wrapSideMenu .btn_write {
    width: 80px;
    height: 32px;
    border: 1px solid #00c3bd;
    font-size: 13px;
    color: #00c3bd;
    margin-top: 13px;
    background-color: #fff;
}

#wrapSideMenu .btn_request {
    width: 80px;
    height: 32px;
    border: 1px solid #00c3bd;
    font-size: 13px;
    color: #00c3bd;
    margin-top: 13px;
    margin-left: 4px;
    background-color: #fff;
}

#wrapSideMenu .logout .btn_request {
    margin-left: 0;
    vertical-align: baseline;
    width: 120px;
}

#wrapSideMenu .wrap_side_login {
    position: absolute;
    bottom: 0;
    margin-bottom: 42px;
    padding-left: 40px;
}

#wrapSideMenu .wrap_side_login button {
    background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/btn_view_loginbox.png);
    width: 240px;
    height: 32px;
    font-size: 14px;
    margin-top: 12px;
    color: #fff;
}

#wrapSideMenu .wrap_side_login .btn_login_kakao {
    background-position: 0 -80px;
}

#wrapSideMenu .login_social .img_ico_login {
    display: inline-block;
    width: 12px;
    height: 13px;
    margin-right: 5px;
    vertical-align: top;
    background: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_sidebar_social.png) no-repeat 3px 0;
}

#wrapSideMenu .login_social .ico_login_twitter {
    background-position: -12px 0;
}

#wrapSideMenu .login_social .ico_login_kakao {
    background-position: -24px 0;
}

footer {
    margin: 29px;
}

footer .copyright {
    width: 116px;
    height: 12px;
    text-indent: -10000px;
    background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_copyright.png);
}

.btn {
    color: #909090;
    font-size: 14px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 8px 16px;
}

.btn.btn_primary {
    color: #00c3bd;
    border-color: #00c3bd;
}

.btn.btn_active {
    color: #fff;
    background-color: #00c3bd;
    border-color: #00c3bd;
}

.btn_post {
    display: block;
    width: 170px;
    height: 60px;
    font-size: 24px;
}

.btn_subscription {
    color: #fff;
    background-color: #00c3bd;
}

.btn_subscription .ico_memca {
    width: 22px;
    height: 16px;
    background-position: -80px 0;
    margin: 7px 0 0 7px;
}

.btn_default {
    color: #00c3bd;
    background-color: #fff;
    border: 2px solid #00c3bd;
}

.btn_default .ico_memca {
    width: 17px;
    height: 17px;
    background-position: -60px 0;
    margin: 7px 0 0 7px;
}

#wrapSideMenu .wrap_side_setting.wrap_find_user {
    margin-bottom: 37px;
}

.wrap_side_setting .find_user {
    font-size: 13px;
    color: #959595;
    border-bottom: 1px solid #bbb;
}

.alert-wrap {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    height: 190px;
    margin-top: -145px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.alert-button {
    border: solid 1px #00c3bd;
    line-height: 32px;
    height: 30px;
    color: #00c3bd;
    margin-top: 25px;
    background-color: #fff;
    display: inline-block;
    font-size: 13px;
    padding: 0 22px;
}

.alert-wrap img {
    margin-bottom: 6px;
}

.alert-wrap .alert-title {
    font-size: 18px;
    color: #666;
    letter-spacing: -1px;
    font-family: "Noto Sans Light", sans-serif;
}

.alert-wrap .alert-sub-title {
    margin-top: 2px;
    font-size: 13px;
    color: #959595;
    font-family: "Noto Sans Light", sans-serif;
}

.spinner {
    height: 50px;
    width: 50px;
    display: none;
    border-left: 2px solid rgba(6, 195, 189, .15);
    border-right: 2px solid rgba(6, 195, 189, 0.15);
    border-bottom: 2px solid rgba(6, 195, 189, .15);
    border-top: 2px solid rgba(6, 195, 189, 0.7);
}

.loader {
    height: 50px;
    width: 50px;
}

.loader.likeit_users_loader, .loader.likeit_loader, .loader.feed_loader {
    width: 26px;
}

.loader .dot {
    width: 6px;
    height: 6px;
    background-color: rgba(6, 195, 189, 0.7);
    margin: 10px;
}

.no-compatible {
    margin-top: 61px;
    position: relative;
}

.compatible-info {
    display: none;
    color: #fff;
    line-height: 61px;
    font-size: 14px;
    background-color: #00c3bd;
    position: absolute;
    top: -61px;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 61px;
    text-align: center;
}

.compatible-info .ico_browser {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 6px;
    margin-left: 10px;
}

.compatible-info .ico_browser.ico_ie {
    background: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_browser_ie.png) no-repeat;
    width: 22px;
}

.compatible-info .ico_browser.ico_chrome {
    background: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_browser_chrome.png) no-repeat;
    width: 20px;
}

.compatible-info .ico_browser.ico_safari {
    background: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_browser_safari.png) no-repeat;
    width: 20px;
}

#wrapSideMenu .wrap_side_service_menu li.remember-me {
    border-top: 1px solid #eee;
    padding-top: 25px;
    margin: 28px 41px 0;
}

#wrapSideMenu .wrap_side_service_menu li.remember-me .choice_comm {
    display: inline-block;
    position: relative;
    height: 18px;
    line-height: 18px;
    margin: 2px 0 0 -11px;
}

#wrapSideMenu .wrap_side_service_menu li.remember-me .choice_comm .ico_memca {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
}

#wrapSideMenu .wrap_side_service_menu li.remember-me .choice_comm .ico_focused {
    outline: 0 auto 5px;
}

#wrapSideMenu .wrap_side_service_menu li.remember-me .choice_comm .inp_comm {
    outline: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 18px;
    height: 18px;
    vertical-align: top;
}

#wrapSideMenu .wrap_side_service_menu li.remember-me .choice_checkbox .ico_memca {
    background-position: -410px 0;
}

#wrapSideMenu .wrap_side_service_menu li.remember-me .choice_checkbox .ico_choiced {
    background-position: -410px -20px;
}

#wrapSideMenu .wrap_side_service_menu li.remember-me .lab_comm {
    color: #666;
    padding-left: 26px;
    font-size: 13px;
    background-color: transparent;
    letter-spacing: -1px;
}

.request_header, .book_header {
    position: absolute;
    top: 30px;
    width: 100%;
}

.request_header h1, .book_header h1 {
    position: absolute;
    top: 0;
    left: 30px;
}

.request_step_navi li, .book_step_navi li {
    display: inline-block;
    color: #000;
}

.memca_start .request_step_navi li, .memca_start .book_step_navi li {
    color: #FFF;
}

.request_step_navi li.active, .book_step_navi li.active {
    color: blue;
    font-weight: 700;
}

.list_common.list_feed, .list_common.list_like {
    width: 700px;
    padding-top: 10px;
    margin: 0 auto;
}

.list_common li {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 25px 0 30px;
}

.list_common .link_thumb {
    float: right;
    position: relative;
    width: 120px;
    height: 120px;
    margin-left: 40px;
    background-position: 0 -280px;
    margin-top: 5px;
}

.list_common .frame_g {
    width: 120px;
    height: 120px;
    border: none;
}

.list_common .tit_subject {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;
}

.list_common .tit_subject .ico_pick {
    width: 38px;
    height: 20px;
    background-position: -90px -280px;
    margin: 4px 0 0 10px;
}

.list_common .desc_common {
    display: block;
    padding-top: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    max-height: 43px;
    overflow: hidden;
}

.list_common .desc_common .ico_bar {
    display: inline-block;
    width: 1px;
    height: 14px;
    background-color: #bfbfbf;
    vertical-align: top;
    margin: 4px 10px 0;
}

.list_common .link_thumb:hover .frame_g {
    background-color: #000;
}

.list_common .append_common {
    overflow: hidden;
    width: 100%;
    padding-top: 18px;
    font-size: 12px;
    color: #959595;
    font-family: "Noto Sans Light", sans-serif;
}

.list_common .append_common .link_category {
    float: left;
    padding-right: 5px;
    color: #00c3bd;
}

.list_common .append_common .ico_by {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 2px;
    font-size: 12px;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #bfbfbf;
}

.list_common .append_common .link_bloger {
    float: left;
    color: #959595;
    font-family: "Noto Sans Light", sans-serif;
}

.list_common .append_common .ico_dot {
    float: left;
    width: 2px;
    height: 2px;
    background-color: #bfbfbf;
    vertical-align: top;
    margin: 8px 6px 11px;
}

.partial_block:after {
    content: " ";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.memca_suggest .wrap_inner {
    position: relative;
    z-index: 10;
}

.memca_suggest .box_suggest {
    display: flex;
    overflow: hidden;
    padding: 275px 0 227px;
}

.memca_suggest .wrap_search {
    border-bottom: 1px solid #333;
    padding: 0;
}

.box_suggest {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-family: 'Noto Sans Light', sans-serif;
}

.box_suggest_inner {
    height: 440px;
}

.box_suggest .btn_close {
    position: absolute;
    top: 31px;
    right: 32px;
    background-position: -90px 0;
}

.box_suggest .ico_close {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 0;
    line-height: 0;
    background-position: -90px 0;
    text-indent: -9999px;
}

.box_suggest .btn_search {
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 45px;
}

.box_suggest .ico_search {
    display: block;
    width: 22px;
    height: 22px;
    font-size: 0;
    line-height: 0;
    background-position: -30px 0;
    text-indent: -9999px;
}

.box_suggest .wrap_list {
    overflow: hidden;
    width: 940px;
    margin: 45px auto 0;
}

.box_suggest .recmd_list {
    width: 1000px;
    text-align: center;
    font-size: 0;
    line-height: 0;
    margin: 0 0 0 -30px;
}

.box_suggest .recmd_list li {
    display: inline-block;
    width: 140px;
    height: 198px;
    vertical-align: top;
    margin: 0 30px;
}

.suggest_guide {
    width: 949px;
    text-align: center;
    margin: 65px auto 0;
}

.suggest_guide .desc_g {
    font-size: 28px;
    color: #333;
    padding: 0 0 12px;
}

.suggest_guide .recmd_keyword {
    display: inline-block;
    font-size: 15px;
    color: #00C6BD;
    border: 1px solid #56DDD5;
    line-height: 22px;
    margin: 0 4px;
    padding: 4px 14px;
}

.recmd_list . li {
    width: 140px;
    height: 194px;
}

.recmd_list .thumb_img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.recmd_list .tit_wirter {
    display: block;
    width: 140px;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
    font-weight: lighter;
    overflow: hidden;
    white-space: nowrap;
    padding: 15px 0 0;
}

.recmd_list .txt_wirter {
    width: 140px;
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    text-align: center;
    height: 38px;
    overflow: hidden;
    display: 0;
    padding: 3px 0 0;
}

.suggest_search {
    overflow: hidden;
    width: 940px;
    min-height: 395px;
    margin: 0 auto;
}

.suggest_search .aside_suggest {
    overflow: hidden;
    width: 220px;
}

.suggest_search .aside_suggest .cont_suggest {
    width: inherit;
}

.suggest_search .aside_suggest .cont_suggest + .cont_suggest {
    border-top: 1px solid #EFEFEF;
    margin: 22px 0 0;
    padding: 0;
}

.suggest_search .aside_suggest .cont_suggest + .cont_suggest .tit_suggest {
    margin: 20px 0 0;
    padding: 0;
}

.cont_suggest {
    float: left;
    width: 720px;
}

.cont_suggest .tit_suggest {
    display: block;
    font-size: 13px;
    line-height: 1;
    color: #959595;
    font-weight: 400;
    padding: 30px 0 0;
}

.cont_suggest .tit_suggest a {
    color: #959595;
    font-weight: 400;
}

.cont_suggest .tit_suggest .ico_arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-position: -120px 0;
    margin: 2px 0 0 3px;
}

.suggest_search .cont_suggest li {
    border-bottom: none;
    margin: 26px 0 0;
    padding: 0;
}

.suggest_search .cont_suggest li a:hover .item_recommend_title {
    border-bottom: 1px solid #333;
}

.suggest_search .tit_subject {
    line-height: 1;
}

.suggest_search .list_article .post_title {
    overflow: hidden;
    white-space: nowrap;
    max-width: 620px;
}

.suggest_search .txt_recommend {
    display: block;
    overflow: hidden;
    width: 170px;
    font-size: 16px;
    white-space: nowrap;
}

.suggest_search .search_recommend {
    padding: 20px 0 0;
}

.wrap_article_list.intro-magazine-item .search_recommend, .wrap_article_list.intro-user-item .search_recommend {
    padding: 11px 0 0;
}

.suggest_search .txt_nodata {
    display: block;
    font-size: 16px;
    color: #959595;
    padding: 0 0 9px;
}

.suggest_search .search_recommend .item_recommend + .item_recommend {
    margin: 10px 0 0;
}

.suggest_search .search_recommend .item_recommend {
    padding: 0 0 0 50px;
}

.service_header.article.beyond_content {
    overflow: visible;
    height: 59px;
}

.wrap_cover_type {
    position: absolute;
    left: 250px;
    right: 250px;
    text-align: center;
}

.wrap_cover_type .txt_by {
    margin-right: -2px;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #bbb;
    font-size: 13px;
}

.wrap_cover_type .txt_name {
    font-size: 13px;
    color: #959595;
    font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
    letter-spacing: -.05em;
}

.wrap_cover_type .txt_bar {
    font-size: 11px;
    vertical-align: text-bottom;
    margin: 0 5px;
}

.wrap_cover_type h2 {
    display: inline-block;
    margin-top: -8px;
    font-size: 17px;
    color: #666;
    font-weight: 400;
    font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
    white-space: nowrap;
    vertical-align: top;
}

.beyond_content .wrap_cover_type h2 {
    margin-top: -3px;
    line-height: 27px;
}

.wrap_cover_type .txt_episode {
    position: relative;
    margin-left: 13px;
}

.service_header.article.beyond_content .txt_episode:before {
    position: absolute;
    background: #ddd;
    content: '';
}

.wrap_tit_header button {
    display: inline-block;
    width: 68px;
    height: 28px;
    margin-top: -2px;
    margin-left: 10px;
    font-size: 11px;
    font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
}

.wrap_tit_header .btn_follow {
    border: 1px solid #00C3BD;
    color: #00C3BD;
}

.wrap_tit_header .btn_subscribing {
    margin-left: 12px;
    border: 1px solid #00C3BD;
    background: #00C3BD;
    color: #fff;
}

.service_header.article .img_ico_wrap {
    margin-left: 18px;
}

.service_header.article .wrap_action_article .text_with_img_ico {
    margin-left: 3px;
    margin-top: -1px;
}

.progress-container {
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
}

.progress-bar {
    width: 0;
    height: 2px;
    background: #333;
}

.setting_layer {
    background: #e9e9e9;
}

.memca_layer_type3 {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10000;
    width: auto;
    height: auto;
    overflow: visible;
    background-color: #fff;
}

.memca_layer_type3 .btn_close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 20px;
    height: 20px;
}

.memca_layer_type3 .layer_body {
    width: 330px;
    background-color: #fff;
    margin: 60px auto 0;
}

.inner_memca_type3 {
    position: relative;
    overflow: hidden;
    width: 460px;
    height: 420px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9;
    margin: -210px 0 0 -230px;
}

.tit_agree {
    font-family: "Nanum Myeongjo", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -1px;
    color: #333;
}

.list_agree {
    margin-top: 8px;
    color: #959595;
}

.list_agree li {
    line-height: 23px;
}

.wrap_agree {
    margin-top: 43px;
    text-align: center;
}

.wrap_agree .btn {
    display: inline-block;
    min-width: 138px;
    padding: 10px 0 9px;
}

.wrap_agree .btn + .btn {
    margin-left: 7px;
}

.choice_set {
    display: inline-block;
    position: relative;
    min-height: 22px;
}

.choice_set .inp_choice {
    position: absolute;
    top: 0;
    width: 22px;
    height: 22px;
    background: 0 0;
    cursor: pointer;
}

.choice_set .ico_chk {
    width: 18px;
    height: 18px;
    background-position: -20px -260px;
}

.choice_set .lab_choice {
    display: block;
    overflow: hidden;
    color: #959595;
    cursor: pointer;
}

.choice_set .check_on .ico_chk, .choice_set .inp_choice:checked + .lab_choice .ico_chk {
    background-position: 0 -260px;
}

.memca_layer_type4 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.memca_layer_type4 .inner_memca_layer {
    position: relative;
    width: 460px;
    border: 1px solid #ddd;
    background: #fff;
    text-align: center;
    margin: auto;
    padding: 53px 0 60px;
}

.memca_layer_type4 .tit_layer, .memca_layer_type4 .tit_agree {
    font-family: "Noto Sans Light", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -.75px;
}

.memca_layer_type4 .txt_layer {
    padding-top: 21px;
    font-family: "Noto Sans Light", sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #959595;
}

.memca_layer_type4 .wrap_agree {
    margin-top: 29px;
}

.memca_layer_type4 .btn {
    text-decoration: none;
    min-width: 83px;
    padding-left: 16px;
    padding-right: 16px;
}

.memca_layer_type4 .btn_confirm {
    min-width: 83px;
}

.memca_layer_type4 .list_agree {
    margin-top: 20px;
}

.memca_layer_type4 .btn_close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
}

.wrap_article_list .list_article .post_append {
    display: block;
    padding-top: 20px;
    font-size: 12px;
    color: #959595;
}

.intro_memca {
    width: 960px;
    margin: 0 auto;
}

.tit_memca {
    font-size: 40px;
    font-weight: 400;
    font-family: "Nanum Myeongjo", sans-serif;
    color: #1a1a1a;
    text-align: left;
    letter-spacing: -.05em;
    margin: 150px auto 0;
}

.desc_memca {
    padding-bottom: 16px;
    margin-top: -3px;
    font-size: 31px;
    line-height: 46px;
    font-family: "Nanum Myeongjo", sans-serif;
    color: #cacaca;
    letter-spacing: -.05em;
}

input::-ms-clear, .hide, .wrap_inner .list_process .lst:after, .short_logo .btn_menu, .service_header .wrap_btn_search input, .service_header .wrapButtonSocialShare .wrap_share_gnb, .service_header .wrap_custom_home, .service_header .wrap_custom_search, #wrapSideMenu .wrap_side_service_menu li a.menu_word7:hover em.ico_memca_new, #wrapSideMenu .wrap_side_service_menu li a.menu_word7:focus em.ico_memca_new, #wrapSideMenu .wrap_side_service_menu li.now_page a em.ico_memca_new, .btn_subscription .txt_on, .btn_subscription:hover .txt_default, .btn_subscription:hover .ico_memca, #suggestGuide, #suggestSearch, .memca_suggest #dkIndex, .memca_suggest .wrap_banner, .memca_suggest #dkWrap, .memca_suggest .service_header .wrap_btn_search, .memca_suggest .service_header .wrap_btn_search.on, .box_suggest .header_keyword {
    display: none;
}

a:active, a:hover, .suggest_guide .recmd_keyword:hover, .recmd_list .link_g:hover, .cont_suggest .tit_suggest a:hover, .suggest_search .cont_suggest li a:hover {
    text-decoration: none;
}

.ir_pm, .bg_profile {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.f_l, .list_common .append_common .txt_time, .list_common .append_common span {
    float: left;
}

.of_h, .service_header.article, #wrapSideMenu header, .list_common .cont_common {
    overflow: hidden;
}

.show, .img_thumb, .service_header .wrap_action_article.show_more_action .more_action_wrap, .service_header.beyond_content .wrap_custom_subscription, .service_header.beyond_content .wrap_custom_bookprize, #wrapSideMenu.new .ico_alim_new, .no-compatible .compatible-info, .list_common .link_common, #searchLayer.layer_guide #suggestGuide, #searchLayer.layer_search #suggestSearch, .recmd_list .link_g {
    display: block;
}

.process_type01 .on, .process_type02 .on .txt_process, .service_header.article .author_and_date *, .service_header.article .wrap_action_article *, .cover_half .service_header .wrap_btn_write *, .cover_full .service_header .wrap_btn_write *, .cover_color .service_header .wrap_btn_write *, .cover_half .service_header .wrap_btn_write .wrap_btn_article_save .noti, .cover_full .service_header .wrap_btn_write .wrap_btn_article_save .noti, .cover_color .service_header .wrap_btn_write .wrap_btn_article_save .noti {
    color: #fff;
}

.process_type02 li, .cover_text .service_header .wrap_btn_write .wrap_btn_article_save.previous .noti {
    color: #959595;
}

.process_type02 .on, .service_header.article.article.cover_type_text .wrap_action_article .more_action_wrap .btn_cancel_reservation, .service_header.beyond_content .wrap_btn_write .wrap_btn_article_save .noti, .service_header.beyond_content .wrap_btn_write .wrap_btn_article_save .noti, .service_header.beyond_content .wrap_btn_write .wrap_btn_article_save .noti, .list_common .desc_common .tit_sub {
    color: #666;
}

.service_header.new .btn_menu, .service_header.new.top .btn_menu, .service_header.new.article.beyond_content .btn_menu, .service_header.new.article.cover_type_text .btn_menu, .service_header.new.top.beyond_content .btn_menu, .service_header.new.cbt.beyond_content .btn_menu, .service_header.new.home_has_main.beyond_content .btn_menu, .cover_half .service_header.new.beyond_content .btn_menu, .cover_full .service_header.new.beyond_content .btn_menu, .cover_color .service_header.new.beyond_content .btn_menu {
    background-position: 0 -58px;
}

.service_header.article .btn_menu, .service_header.top .btn_menu, .service_header.cbt .btn_menu, .service_header.home_has_main .btn_menu, .service_header.white_header .btn_menu, .service_header.project_list .btn_menu, .service_header.signin_v2 .btn_menu, .cover_half .service_header .btn_menu, .cover_full .service_header .btn_menu, .cover_color .service_header .btn_menu {
    background-position: 0 -30px;
}

.service_header.new.article .btn_menu, .service_header.new.cbt .btn_menu, .service_header.new.home_has_main .btn_menu, .cover_half .service_header.new .btn_menu, .cover_full .service_header.new .btn_menu, .cover_color .service_header.new .btn_menu {
    background-position: -30px -58px;
}

.service_header.home_has_main.beyond_content .btn_menu, .service_header.top.beyond_content .btn_menu, .service_header.cbt.beyond_content .btn_menu, .service_header.beyond_content.home_has_main .logo_service, .cover_half .service_header.beyond_content .btn_menu, .cover_full .service_header.beyond_content .btn_menu, .cover_color .service_header.beyond_content .btn_menu {
    background-position: 0 0;
}

.service_header h1, .service_header .wrap_action_article .more_action {
    display: inline-block;
}

.service_header .author_and_date *, .service_header.article.beyond_content .author_and_date *, .service_header.article.beyond_content .wrap_action_article *, .service_header.article.cover_type_text .author_and_date *, #wrapSideMenu .wrap_side_service_menu .link_service {
    font-size: 14px;
    color: #333;
}

.service_header.article.cover_type_text .wrap_action_article .ico_action, .service_header.article.beyond_content .wrap_action_article .ico_action, #wrapSideMenu .link_service .ico_link_magazine {
    background-position: -120px 0;
}

.service_header .wrap_custom, .service_header .wrap_custom_memcabook {
    color: #666;
    font-size: 17px;
    letter-spacing: -1px;
    display: inline-block;
    text-align: center;
    left: 50%;
    position: absolute;
    margin-top: -3px;
}

.service_header.beyond_content .wrap_custom_ready, .service_header.beyond_content .wrap_custom_history, .service_header.beyond_content .wrap_custom_feed, .service_header.beyond_content .wrap_custom_search, .service_header.beyond_content .wrap_custom_setting {
    top: 17px;
}

.service_header .wrap_custom_ready .btn_ready_draft, .service_header .wrap_custom_ready .btn_ready_private {
    margin-right: 18px;
}

.service_header .wrap_custom_likeit button:first-child, #wrapSideMenu.open {
    margin-left: 0;
}

.service_header .wrap_custom .text_key_color, #wrapSideMenu .wrap_side_service_menu li a:hover, #wrapSideMenu .wrap_side_service_menu li.now_page a, .alert-button a {
    color: #00c3bd;
}

.beyond_content .wrap_custom_magazine .magazine_title, .btn_subscription:hover .txt_on {
    display: inline;
}

#wrapSideMenu div, #wrapSideMenu dl, #wrapSideMenu dt, #wrapSideMenu dd, #wrapSideMenu ul, #wrapSideMenu ol, #wrapSideMenu li, #wrapSideMenu h1, #wrapSideMenu h2, #wrapSideMenu h3, #wrapSideMenu h4, #wrapSideMenu h5, #wrapSideMenu h6, #wrapSideMenu pre, #wrapSideMenu code, #wrapSideMenu form, #wrapSideMenu fieldset, #wrapSideMenu legend, #wrapSideMenu textarea, #wrapSideMenu p, #wrapSideMenu blockquote, #wrapSideMenu th, #wrapSideMenu td, #wrapSideMenu input, #wrapSideMenu select, #wrapSideMenu textarea, #wrapSideMenu button, .list_common div, .list_common dl, .list_common dt, .list_common dd, .list_common ul, .list_common ol, .list_common li, .list_common h1, .list_common h2, .list_common h3, .list_common h4, .list_common h5, .list_common h6, .list_common pre, .list_common code, .list_common form, .list_common fieldset, .list_common legend, .list_common textarea, .list_common p, .list_common blockquote, .list_common th, .list_common td, .list_common input, .list_common select, .list_common textarea, .list_common button {
    font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
}

#wrapSideMenu .wrap_side_service_menu li a.menu_word7 span, #wrapSideMenu .wrap_side_service_menu li a.menu_word6 span {
    width: 23px;
}

#wrapSideMenu .wrap_side_service_menu li a.menu_word7 em.ico_memca_new, #wrapSideMenu .wrap_side_service_menu li a.menu_word6 em.ico_memca_new {
    top: -1px;
    right: 60px;
}

#wrapSideMenu .link_service .ico_link_draft, #wrapSideMenu .wrap_side_login .btn_login_twitter {
    background-position: 0 -40px;
}

.request_step_navi, .book_step_navi, .memca_layer_type4 .layer_body {
    text-align: center;
    margin: 0 auto;
}

.memca_suggest .search_form .txt_search::-webkit-input-placeholder, .memca_suggest .search_form .txt_search:-ms-input-placeholder, .memca_suggest .search_form .txt_search::-ms-input-placeholder {
    color: #BEBEBE;
}

.suggest_guide .desc_g b, .suggest_search .txt_recommend b {
    color: #00C6BD;
    font-weight: 400;
}

.memca_layer_type3 .ico_close, .memca_layer_type4 .ico_close {
    width: 20px;
    height: 20px;
    background-position: -120px -30px;
}

@media all and (max-height: 768px

) {

    .alert-wrap.alert-wrap-like-users {
        top: 0;
        margin-top: 200px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 15), only screen and

(min-device-pixel-ratio: 15), only screen and

(min-resolution: 15dppx

) {

    .service_header h1 .logo_service, .service_header.article.cover_type_text h1 .logo_service, .service_header.article.beyond_content h1 .logo_service, #wrapSideMenu .wrap_side_profile.logout .logo_service {
        background-image: url(//t1.daumcdn.net/brunch9/static/images/pcrtn/logo_memca_v1.png);
    }

    .service_header .img_ico {
        background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_view_cover.v4_rtn.png);
    }

    #wrapSideMenu .wrap_side_service_menu li.hr, #wrapSideMenu .wrap_side_ico {
        background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/ico_sidebar_rtn.png);
    }

    #wrapSideMenu .wrap_side_service_menu li .ico_memca_new {
        background-image: url(//t1.daumcdn.net/memca/static/img/help/pc/img_weekly.v2_rtn.png);
    }

    .ico_memca_v1 {
        background-image: url(//t1.daumcdn.net/brunch9/static/images/pcrtn/ico_memca_v1_210624.png);
    }
}

@media all and (max-width: 1023px

) and

(min-width: 769px

) {

    .memca_suggest .box_suggest {
        padding-left: 30px;
        padding-right: 30px;
    }

    .memca_suggest .search_form {
        padding: 0;
    }

    .box_suggest .wrap_list {
        width: 600px;
        margin: 50px auto 0;
    }

    .box_suggest .recmd_list {
        width: 100%;
        max-height: 193px;
        overflow: hidden;
        margin: 0;
    }

    .box_suggest .recmd_list li {
        margin: 0 0 0 70px;
    }

    .box_suggest .recmd_list li:nth-child(3n+1) {
        margin: 0;
    }

    .memca_suggest .wrap_search, .memca_suggest .suggest_guide {
        width: 100%;
    }
}

@media all and (max-width: 768px

) {

    .memca_suggest .wrap_search {
        min-width: 600px;
    }

    .box_suggest_inner {
        padding: 0 34px;
    }

    .suggest_guide {
        width: 600px;
    }

    .box_suggest .wrap_list {
        width: 600px;
        margin: 50px auto 0;
    }

    .suggest_search {
        width: 700px;
    }

    .suggest_search .aside_suggest {
        float: none;
    }

    .cont_suggest {
        width: 380px;
        margin-right: 40px;
    }

    .cont_suggest ul {
        width: 380px;
    }

    .box_suggest .recmd_list {
        width: 100%;
        max-height: 193px;
        overflow: hidden;
        margin: 0;
    }

    .box_suggest .recmd_list li {
        margin: 0 0 0 70px;
    }

    .box_suggest .recmd_list li:nth-child(3n+1) {
        margin: 0;
    }
}

@media only screen and (max-width: 1024px) {

    .service_header.article .wrap_cover_type {
        display: none;
    }
}