<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/search.css">
</head>
<body>
<div class="service_header search new" data-tiara-layer="gnb">
    <div class="wrap_inner ">
        <div class="f_l">
            <button id="btnServiceMenu" type="button" class="f_l text_hide btn_menu img_ico #sidebar new">메뉴</button>
            <h1 class="f_l">
            </h1>
        </div>
        <div class="f_r">
            <div class="wrap_btn_search on">
                <form action="/search" method="get">
                    <input name="q" id="searchQuery" type="text" title="검색어입력" placeholder="검색어를 입력해 주세요" autocomplete="off" value="hello">
                    <input name="profileId" type="hidden" value="">
                </form>
                <button id="btnServiceMenuSearch" type="button" class="f_r img_ico text_hide btn_search #search_btn" data-tiara-action-name="TOP > GNB 우측 검색 버튼 클릭" data-tiara-action-kind="Search" data-tiara-layer="search" data-tiara-search_term=" " data-tiara-search_type="keyword">검색
                </button>
            </div>
        </div>
    </div>
</div>
<div id="wrapHome" class="search_wrap">
    <div id="searchWrap">
        <div class="search_header">
            <div class="filter_search" style="display: none;">
                <div class="info_filter">
                    <input type="hidden" class="cate_filter_selected" value="">
                    <p class="desc_g">
                    </p>
                    <div class="cate_filter">
                    </div>
                </div>
            </div>
        </div>
        <hr class="hide">
        <div id="daumContent" class="cont_search" role="main">
            <div id="mArticle" style="display: block;">
                <div id="resultArticle" class="search_result" style="display: block; margin-top: 0px;">
                    <div class="result_search">
                        <div class="result_article">
                            <div class="search_category sub_title" style="display: block;">
                            </div>
                            <div class="wrap_article_list">
                                <ul class="list_article list_common list_animation">
                                </ul>
                            </div>
                            <div id="loadSpinner" class="layer-more-loading" style="display: none;">
                                <div class="loader">
                                    <div class="dot dot1">
                                    </div>
                                    <div class="dot dot2">
                                    </div>
                                    <div class="dot dot3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="resultKeyword" class="result_recommend animation_up_late">
                            <div class="writerContainer">
                                <strong class="tit_recommend dd">추천작가</strong>
                                <div class="search_recommend"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resultMagazine" class="search_result" style="display: none;">
                    <div class="result_search">
                        <div class="search_category sub_title" style="display: block;">
                            <h3 class="tit_search">작품 검색 결과
                                <span class="tit_search_cnt">1000+건 </span>건</h3>
                        </div>
                        <div class="cont_magazine">
                            <div class="list_content">
                            </div>
                        </div>
                        <div id="loadSpinner" class="layer-more-loading" style="display: none;">
                            <div class="loader">
                                <div class="dot dot1">
                                </div>
                                <div class="dot dot2">
                                </div>
                                <div class="dot dot3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resultUser" class="search_result" style="display: none;">
                    <div class="result_search">
                        <div class="search_category sub_title" style="display: block;">
                            <h3 class="tit_search">작가 검색 결과
                                <span class="tit_search_cnt">1000+건 </span>건</h3>
                        </div>
                        <div class="list_search">
                            <ul class="list_follow search_writer">
                            </ul>
                        </div>
                        <div id="loadSpinner" class="layer-more-loading" style="display: none;">
                            <div class="loader">
                                <div class="dot dot1">
                                </div>
                                <div class="dot dot2">
                                </div>
                                <div class="dot dot3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="init-q" value="hello">
    </div>
</div>

</body></html>