<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <script src="/static/js/core.js"></script>
    <script src="/static/js/templates.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
            integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        window.onload = () => {
            getRank();
            getPost();
            cannotCrawl();
        }
    </script>
</head>
<body>
<div class="service_header search new" data-tiara-layer="gnb">
    <div class="wrap_inner ">
        <div class="f_r">
            <div class="wrap_btn_search on">
                <form action="/search" method="get">
                    <input name="q" id="searchQuery" type="text" title="검색어입력" placeholder="검색어를 입력해 주세요"
                           autocomplete="off" value="hello">
                    <input name="profileId" type="hidden" value="">
                </form>
                <a href="/search" id="btnServiceMenuSearch" type="button"
                   class="f_r img_ico text_hide btn_search #search_btn" data-tiara-action-kind="Search"
                   data-tiara-layer="search" data-tiara-search_type="keyword">검색
                </a>
            </div>
        </div>
    </div>
</div>
<div id="wrapHome" class="search_wrap">
    <div id="searchWrap">
        <div class="search_header">
            <div class="filter_search" style="display: none;">
                <div class="info_filter">
                    <input type="hidden" class="cate_filter_selected" value="">
                    <p class="desc_g">
                    </p>
                    <div class="cate_filter">
                    </div>
                </div>
            </div>
        </div>
        <hr class="hide">
        <div id="daumContent" class="cont_search" role="main">
            <div id="mArticle" style="display: block;">
                <div id="resultArticle" class="search_result" style="display: block; margin-top: 0;">
                    <div class="result_search">
                        <div class="result_article">
                            <div class="search_category sub_title" style="display: block;">
                            </div>
                            <div class="wrap_article_list">
                                <ul class="list_article list_common list_animation">

                                </ul>
                            </div>
                            <div id="loadSpinner" class="layer-more-loading" style="display: none;">
                                <div class="loader">
                                    <div class="dot dot1">
                                    </div>
                                    <div class="dot dot2">
                                    </div>
                                    <div class="dot dot3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="resultKeyword" class="result_recommend animation_up_late">
                            <div class="writerContainer">
                                <strong class="tit_recommend dd">글많은 블로그!!</strong>
                                <div class="search_recommend" id="rec1">

                                </div>
                            </div>
                        </div>
                        <div id="resultKeyword" class="result_recommend animation_up_late">
                            <div class="writerContainer">
                                <strong class="tit_recommend dd">수집 못한 블로그ㅠㅠ</strong>
                                <div class="search_recommend" id="rec2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resultMagazine" class="search_result" style="display: none;">
                    <div class="result_search">
                        <div class="search_category sub_title" style="display: block;">
                            <h3 class="tit_search">작품 검색 결과
                                <span class="tit_search_cnt">1000+건 </span>건</h3>
                        </div>
                        <div class="cont_magazine">
                            <div class="list_content">
                            </div>
                        </div>
                        <div id="loadSpinner" class="layer-more-loading" style="display: none;">
                            <div class="loader">
                                <div class="dot dot1">
                                </div>
                                <div class="dot dot2">
                                </div>
                                <div class="dot dot3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resultUser" class="search_result" style="display: none;">
                    <div class="result_search">
                        <div class="search_category sub_title" style="display: block;">
                            <h3 class="tit_search">작가 검색 결과
                                <span class="tit_search_cnt">1000+건 </span>건</h3>
                        </div>
                        <div class="list_search">
                            <ul class="list_follow search_writer">
                            </ul>
                        </div>
                        <div id="loadSpinner" class="layer-more-loading" style="display: none;">
                            <div class="loader">
                                <div class="dot dot1">
                                </div>
                                <div class="dot dot2">
                                </div>
                                <div class="dot dot3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="init-q" value="hello">
    </div>
</div>

</body>
</html>