<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/search.css">
</head>
<body class="brunch_suggest">
<div id="wrapSideMenu" class="new">
    <main>
        <button type="button" id="btnCloseSideMenu" class="btn_close_side_menu img_side_menu ico_close f_r text_hide">
            닫기
        </button>
        <div class="wrap_side_profile">
            <a href="/@@3S0W" class="#side_my brunchHomeLink" data-tiara-action-name="메뉴 > 프로필, 내 브런치 버튼 클릭"
               data-tiara-layer="profile">
                <div class="wrap_profile_image">
                    <img class="img_profile"
                         src="//img1.daumcdn.net/thumb/C60x60.fpng/?fname=https://t1.daumcdn.net/brunch/static/img/help/pc/ico_profile_100_03.png"
                         alt="프로필이미지">
                </div>
                <div class="wrap_profile_info">
                    <strong class="text_profile_name">앤드류유</strong>
                    <p class="text_profile_id">brunch.co.kr/@ydm2790</p>
                </div>
            </a>
            <a href="/write" class="#side_write" data-tiara-action-name="메뉴 > 글쓰기 버튼 클릭" data-tiara-layer="write">
                <button class="btn_write">글쓰기</button>
            </a>
            <a href="/apply" class="#side_request btn_apply_author" data-tiara-action-name="메뉴 > 작가 신청 버튼 클릭"
               data-tiara-layer="applywriter">
                <button class="btn_request">작가 신청</button>
            </a>
            <a class="wrap_side_ico ico_side_history text_hide #side_history" href="/me/history"
               data-tiara-action-name="메뉴 > 알림 버튼 클릭" data-tiara-layer="notification">알림</a>
            <span class="img_side_menu ico_alim_new">NEW</span>

        </div>
        <div class="wrap_side_service_menu logout">
            <ul>
                <li>
                    <a class="menu_word4 #side_home brunchHomeLink" href="/@@3S0W"
                       data-tiara-action-name="메뉴 > 프로필, 내 브런치 버튼 클릭" data-tiara-layer="profile">
                        <span class="bar_left"></span>내 브런치
                        <span class="bar_right"></span>
                    </a>
                </li>
                <li>
                    <a class="menu_word5 #side_ready" href="/ready" data-tiara-action-name="메뉴 > 작가의 서랍 버튼 클릭"
                       data-tiara-layer="ready">
                        <span class="bar_left">
                        </span>작가의 서랍
                        <span class="bar_right">
                        </span>
                    </a>
                </li>
                <li class="hr">
                </li>
                <li class="now_page">
                    <a class="menu_word4 #side_brunch" href="/" data-tiara-action-name="메뉴 > 브런치 홈 버튼 클릭"
                       data-tiara-layer="top">
                        <span class="bar_left">
                        </span>브런치 홈
                        <span class="bar_right">
                        </span>
                    </a>
                </li>
                <li>
                    <a class="menu_word5 #side_now brunchNowLink" href="/now" data-tiara-action-name="메뉴 > 브런치 나우 버튼 클릭"
                       data-tiara-layer="now">
                        <span class="bar_left">
                        </span>브런치 나우
                        <span class="bar_right">
                        </span>
                    </a>
                </li>
                <li>
                    <a class="menu_word5 #side_publish brunchPublishLink" href="/publish"
                       data-tiara-action-name="메뉴 > 브런치 책방 버튼 클릭" data-tiara-layer="bookshop">
                        <span class="bar_left">
                        </span>브런치 책방
                        <span class="bar_right">
                        </span>
                    </a>
                </li>
                <li>
                    <a class="menu_word7 " href="/library" data-tiara-action-name="메뉴 > 글 읽는 서재 버튼 클릭"
                       data-tiara-layer="library">
						<span class="bar_left">
						</span>글 읽는 서재
                        <em class="ico_brunch_new">
                        </em>
                        <span class="bar_right">
						</span>
                    </a>
                </li>
                <li>
                    <a class="menu_word2 #side_feed brunchFeedLink" href="/feed" data-tiara-action-name="메뉴 > 피드 버튼 클릭"
                       data-tiara-layer="feed">
						<span class="bar_left">
						</span>피드
                        <span class="bar_right">
						</span>
                    </a>
                </li>
            </ul>
            <div class="wrap_side_setting" style="position: absolute;">
                <div class="menu_side_banner" style="padding-bottom: 40px;">
                    <a class="#side_project"
                       href="/special/list"
                       data-tiara-action-name="메뉴 > 작가 지원 프로젝트 버튼 클릭"
                       data-tiara-layer="projectlist">
                        <img
                                style="width:168px"
                                src="//i1.daumcdn.net/thumb/R336x0/?fname=http://t1.daumcdn.net/brunch/static/img/help/pc/top/side_banner_20171219.png"
                                alt="프로젝트 리스트 바로가기">
                    </a>
                </div>
                <a href="/me/settings" class="#side_settings" data-tiara-action-name="메뉴 > 설정 버튼 클릭"
                   data-tiara-layer="settings">
                    <button type="button">설정</button>
                </a>
                <a id="sideMenuLogoutButton" href="/kakao/logout" data-tiara-action-name="메뉴 > 로그아웃 버튼 클릭"
                   data-tiara-layer="logout">
                    <button type="button">로그아웃</button>
                </a>
            </div>
        </div>
    </main>
</div>
<div id="searchLayer" class="layer_guide">
    <div class="service_header search">
        <div class="box_suggest">
            <div class="box_suggest_inner">
                <div class="wrap_search_header">
                    <div class="wrap_search">
                        <h2 class="screen_out">검색 키워드 입력 창</h2>
                        <div class="search_form">
                            <div>
                                <span class="placeholder-container" style="position: relative;">
                                    <label for="txt_search"></label>
                                    <input type="text"
                                           value="" name="q"
                                           class="txt_search"
                                           id="txt_search"
                                           placeholder="검색어를 입력해 주세요."
                                           maxlength="20"
                                           autocomplete="off"
                                           style="position: absolute; z-index: 10; background-color: transparent; border-color: transparent;">
                                    <input
                                            type="text" value="" name="q" class="txt_search placeholder" id="txt_search"
                                            placeholder="검색어를 입력해 주세요." maxlength="20" autocomplete="off"
                                            style="color: transparent;">
                                </span>
                                <input type="hidden" value="article" name="type" id="hdn_search_type">
                            </div>
                            <button id="btnServiceMenuSearch" type="button" class="btn_search">
                                <span class="img_ico ico_search">검색</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="suggestGuide">
                    <div class="suggest_guide animation_up_late">
                        <p class="desc_g">티스토리, 벨로그만 자동 수집하고 있어요!ㅠㅠ</p>
                    </div>
                    <div class="wrap_list">
                        <ul class="recmd_list">
                        </ul>
                    </div>
                </div>
                <div class="suggest_search" id="suggestSearch">
                    <div class="cont_suggest">
                        <h3 class="tit_suggest">
                            <a data-type="article" href="/search">글 검색
                                <span class="ico_brunch_v1 ico_arrow">
						        </span>
                            </a>
                        </h3>
                        <div class="wrap_article_list intro-article-item">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>